.contact-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.homebtn {
    color: #DEBF79;
    background: none;
    border: none;
    font-size: medium;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 25px;
}

.heading-one-contact {
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: green;
}

.underline-two {
    height: 80px;
    border-bottom: 4px solid #DEBF79;
    margin-top: 33px;
}

