@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #222222;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.contactbtn {
    color: #DEBF79;
    background: none;
    border: none;
    font-size: medium;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 25px;
}

.link {
    color: #DEBF79;
    background: none;
    border: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.boxes {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.box {
    background-color: white;
    width: 320px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0.5%;
}

.image-rabbit {
    width: 104px;
    height: 62px;
}

.image-talkie {
    width: 51px;
    height: 106px;
}

.image-shield {
    width: 98px;
    height: 98px;
}

.image-container {
    height: 107px;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    height: 40px;
}

p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #858585;
    width: 300px;
}

p2 {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    height: 45px;
    width: 130px;
    background-color: #DEBF79;
    font-weight: 400;
    color: white;
}

h1 {
    font-size: 55px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.head-one-word {
    display: flex;
}

.underline {
    border-bottom: 4px solid #DEBF79;
    line-height: 1.5;
    margin-top: 33px;
}

.head-one {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: -40px;
    margin-bottom: 40px;
}

p3 {
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

ul {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 1243px) {
    .boxes {
        flex-direction: column;
        align-items: center;
    }

    .box {
        margin-top: 10px;
    }
  }